{% extends BASE_TEMPLATE_HTML_EMAIL %}
{% load i18n %}

{% block content %}
    <h1>
        <b>{% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}</b>
    </h1>

    <p>
        {% blocktrans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktrans %}
    </p>

    <p>
        {% trans "Please go to the following page and choose a new password:" %}<br>
        {% block reset_link %}<a href="{{ protocol }}://{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}">{{ domain }}{% url 'django.contrib.auth.views.password_reset_confirm' uidb36=uid token=token %}</a>{% endblock %}
    </p>

    <p>
        {% trans "Your username, in case you've forgotten:" %} {{ user.get_username }}
    </p>

    <p>
        {% trans "Thanks for using our site!" %}
    </p>
{% endblock %}
