{% extends 'auth/base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock %}

{% block content %}

	<h2>
		{% trans 'Password change' %}
	</h2>

	<p class="lead">
		{% blocktrans %}Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.{% endblocktrans %}
	</p>

	<form action="." method="post" class="form-horizontal">

		{% csrf_token %}

		{% for field in form %}
			{% include 'auth/includes/form_field.html' %}
		{% endfor %}

		<div class="form-actions">
			<input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
		</div>

	</form>

{% endblock %}
