{% extends "auth/base.html" %}
{% load i18n %}

{% block title %}{% trans "Password reset" %}{% endblock %}

{% block content %}
	{% if validlink %}
		<h2>
			{% trans 'Enter new password' %}
		</h2>
		
		<p class="lead">
			{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
		</p>
		
		<form method="post" action="." class="form-horizontal">

			{% csrf_token %}

			{% for field in form %}
				{% include "auth/includes/form_field.html" %}
			{% endfor %}
		
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="{% trans 'Change my password' %}">
				{% trans 'or' %} <a href="{% url "user-login" %}">{% trans 'cancel' %}</a>
			</div>

		</form>

	{% else %}

		<h2>
			{% trans 'Password reset unsuccessful' %}
		</h2>
		
		<p class="alert alert-warning">
			{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.{% endblocktrans %}
		</p>
		
	{% endif %}
{% endblock %}
